<.header>
  Listing Leads
  <:actions>
    <.link patch={~p"/leads/new"}>
      <.button>New Lead</.button>
    </.link>
  </:actions>
</.header>

<.table
  id="leads"
  rows={@streams.leads}
  row_click={fn {_id, lead} -> JS.navigate(~p"/leads/#{lead}") end}
>
  <:col :let={{_id, lead}} label="Name"><%= lead.name %></:col>
  <:col :let={{_id, lead}} label="Phone"><%= lead.phone %></:col>
  <:col :let={{_id, lead}} label="Email"><%= lead.email %></:col>
  <:col :let={{_id, lead}} label="Company"><%= lead.company %></:col>
  <:col :let={{_id, lead}} label="Description"><%= lead.description %></:col>
  <:action :let={{_id, lead}}>
    <div class="sr-only">
      <.link navigate={~p"/leads/#{lead}"}>Show</.link>
    </div>
    <.link patch={~p"/leads/#{lead}/edit"}>Edit</.link>
  </:action>
  <:action :let={{id, lead}}>
    <.link
      phx-click={JS.push("delete", value: %{id: lead.id}) |> hide("##{id}")}
      data-confirm="Are you sure?"
    >
      Delete
    </.link>
  </:action>
</.table>

<.modal :if={@live_action in [:new, :edit]} id="lead-modal" show on_cancel={JS.patch(~p"/leads")}>
  <.live_component
    module={CrucialWeb.LeadLive.FormComponent}
    id={@lead.id || :new}
    title={@page_title}
    action={@live_action}
    lead={@lead}
    patch={~p"/leads"}
  />
</.modal>
